<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Work history and where I am today.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2010</h4>
                                    <h4 class="subheading">Bournemouth University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studying a BA(hons) in Business Studies. Learning Theorical approachs to business and earning the opportunity work with with IBM during a paid placement year.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2009</h4>
                                    <h4 class="subheading">IBM, Sales administrator(Work Placement)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working alongside senior sales executives to provide a nationwide team, often based on client sites, with information on developments within sales accounts. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">Estate Agent, Rare Lettings Negotiator</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Selling to a range of high net worth individuals while providing a world class level of service to all parties in one of the fast moving lettings markets in the world. Quickly progressing to letting high-end properties all over East London.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Corporate Foreign Exchange, FX Broker</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Providing bespoke FX services to small and medium corporates through tailored market information, unmatched customer service and relationship building.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Web Developer<h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> An intense 12 week bootcamp, covering a variety of different programming languages including HTML, CSS, Ruby/Ruby on Rails, Javascript, SQL, as well as learning areas of best practises, elements of computer science and how to code in a team. It also included agile development, Git and Github, Object Oriented Programming, REST, MVC and TDD.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Looking for 
                                    <br>his next 
                                    <br>Adventure!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Hire me<h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm Looking for an opportunity to use my previous client facing and business experience as well as my development skills in a Junior Full-stack Development position for an exciting company. The ideal position would be to work with a business which gives the opportunity to further my coding skills while doing a great job for them in return. Fancy a chat? Please see my contact details below.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>