<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Work history and where I am today.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2010</h4>
                                    <h4 class="subheading">Bournemouth University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Here I studied a BA(hons) in Business Studies. Had an amazing time in one of my favourite places in the UK.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">Estate Agent, Rare Lettings Negotiator</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working for one of Londons biggest estate agency in the lettings department. Quickly progressing to letting high-end properties all over East London.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">Corporate Foreign Exchange, FX Broker</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Providing bespoke FX services to MDs and FDs of small to medium corporates and some household brands too.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Web Developer<h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After studying at a General Assembly bootcamp, I've completely changed my career. I had an amazing 3 months, learning everything I can about Web Development and I'm now looking for an oportunity to contintue that learning with and exciting company.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Looking for 
                                    <br>his next 
                                    <br>Adventure!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>