<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who is Luke O'Hara?</h2>
                    <h3 class="section-subheading text-muted">The man behind the beard.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I've lived most of my life in Somerset. After Graduating from Bournemouth University, I decided to move to London and I've worked for a number of companies in various sales based positions.Recent I completed a Web Development Bootcamp, a fantastic learning experiance which has opened my eyes to the world of possiblities in the tech industry, and I'm now on a quest to find a business I can work for which shares my passion for learning and innovation<br><br>

                    Outside of work/learning I like nothing more than supporting my beloved Coventry City FC, spending time with family and friends and getting on the slopes when I get the chance.<br><br> Blog coming soon. Watch this space...</p>
                </div>
            </div>
        </div>
    </section>